@font-face {
    font-family: "Regular";
    src: url(./RopaSans-Regular.ttf);
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
}
table {
    font-family: "Regular";
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }

.mobile_table {
    background: rgb(226, 76, 31);
}
.tablet_table {
    background: rgb(27, 196, 12);
}
.desktop_table {
    background: rgb(204, 10, 43);
}
td {
    text-align: center;
}
.rectangle_vertical {
    width: 20px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
}
.rectangle_horizontal {
    width: 40px;
    height: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: yellow;
}

/*начало стили для чекбоксов*/

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"] {
    background: #03a9f4;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}
input:checked[type="checkbox"]::before {
    left: 20px;
}
/* конец стилей для чекбоксов*/
#android{
    width:30px;
    height:30px;
    margin:20px auto;
    position:relative;
  }
  #head{
    border-radius: 65px 65px 0 0;
    width: 30px;
    height:20px;
    margin:0 auto;
    background-color: #A4CA39;
  }
  .antenna{
    width: 2px;
    height: 15px;
    position: absolute;
    top: -12px;
    border-radius: 5px;
    background-color: #A4CA39;
  }
  .antenna.a1{
    left: 36%;
    transform: rotate(330deg);
  }
  .antenna.a2{
    left: 61%;
    transform: rotate(33deg);
  }
  #body{
    border-radius: 0 0 80px 80px;
    width: 30px;
    height: 30px;
    margin: 4px auto;
    background-color: #a4CA39;
    position: relative;
  }
  
  .shape{
    width: 10px;
    height: 30px;
    border-radius: 30px;
    background-color: #a4CA39;
    position: absolute;
    top:-3px;
  }
  .shape.b1{
    left: -12px;
  }
  .shape.b2{
    right: -12px;
  }
  .shape.b3{
    top:63%;
    left: 17px;
  }
  .shape.b4{
    top:63%;
    right: 17px;
  }